<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>JH: About NLP</title>
    </head>

    <body>

        <header>
            
            <img id="jhlogo" alt= "JH Logo">
            
            <div class="prettytext">
                JH NLP Web Tool
            </div>
            <section>
                <div>
                    <a href="index.html">Home</a> * 
                    <a href="about.html">About</a> * 
                    <a href="tests.html">Articles</a>
                </div>
            </section>
        </header>

        <main>
            <h2>About Sentiment Analysis & Natural Language Processing</h2>
            <h3>Sentiment Analysis</h3>
            <section>
               woooo yee haw haw yee namsayin lessgo . when the night is dark, aand the outsides so cold.. *heroes on fireeee*** as a child i knew, boutta world so true. she pulled the down stars. i needed a hero, if i only knew the hero was me. fear pulled me down, reckless and hot. tells me im nothing, when i know that im not.
            </section>
            <h3>Natural Language Processing</h3>
            <section>
                yeet. standing alone in my fire, youre not alooone. futures hangin on a wireee,, just take my hand.
                standing alone in my fire,
                you're not alone HEROES ON FIREEEEEE~~~~
            </section>
            <h3>Meaningcloud</h3>
            <section>
                standin aloneee in my fireeee~. youre not alooooooneee.. futures hangin on a wiiiiureee.. COME ON . just take my hand
                LITERALLY TAKE IT
                standing alone in my fireeee.. youre not alooooooneeeeee HEROEEEESSS ON FIIIIYUUUURRRR. HEROES ON FIREEEEEE
                u n me baby~
            </section>
        </main>
    </body>
</html>
