<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>JH NLP Web Tool</title>
    </head>

    <body>
        <div id="sticky">
            <header> 
                <img id="jhlogo" alt= "JH Logo">
                
                <div class="prettytext">
                    JH NLP Web Tool
                </div>
            </header>
            <nav class="navbar__menu">
                <!-- Navigation starts as empty UL that will be populated with JS -->
                <ul id="navbar__list"></ul>
            </nav>
        </div>
        <main>
            <section id="howto" data-nav="How To">
                <h2 class="prettytext">How to Use this Web App:</h2>
                <p>
                    To use this web app, simply insert any URL into the field bar below and 
                    click the submit button.
                    If the URL is invalid or does not have any content that can be analyzed,
                    a pop up will appear to inform you of the issue. A pop up will also appear
                    if the URL is valid to let you know when your results are ready to display.
                    (This is so that you can tell when the analysis statistics change between
                    articles.) 
                </p>
                <p class="mini">Note: There are three sample articles below, each giving different 
                    results, for you to test as well. To do so, right click on the news logo 
                    and use the "Copy Link Adress" option in the menu to get the article's url.
                    Then paste that url into the search bar.
                </p>
            </section>
            <section id="mainapp" data-nav="The App">
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="url" type="text" name="input" value="" placeholder="insert url here">
                    <input type="submit" id = "submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            </section>

            <section id="results" data-nav="Analysis" class = "entry">
                <strong class = "prettytext analysis">*~Article Analysis~*</strong>
                <div id = "entryHolder">
                    <div id = "score"></div> 
                    <div id = "agreement"></div>
                    <div id = "subjectivity"></div>
                    <div id = "irony"></div>
                    <div id = "confidence"></div>
                </div>
            </section>
            <section id="samples" data-nav="Sample Articles">
                <h2 class="prettytext">~Sample Articles~</h2>
                <div class="cardholder">
                    <div class="newscard">
                        <span>"US hits 150,000 deaths from COVID-19 as states struggle to halt resurgence"</span>
                        <span>Jul. 30, 2020</span>
                        <a href="https://www.usatoday.com/story/news/nation/2020/07/29/covid-resurgence-deaths-surpass-150-k/5489494002/" target="_blank"><img id= "nlogo1" alt="usa today icon" class="logopic"></a>
                    </div>
                    <div class="newscard">
                        <span>"Police release horrific details of the 1st mass shooting of the year, identify teen suspect"</span>
                        <span>Jan. 23, 2020</span>
                        <a href="https://abcnews.go.com/US/police-release-horrific-details-1st-mass-shooting-year/story?id=68483893" target="_blank"><img id = "nlogo2" alt="abc news icon" class="logopic"></a>
                    </div>
                    <div class="newscard">
                        <span>"'Star Trek: Discovery': Adil Hussain Teases Guest Appearance In Season 3, Fans Are Loving It!"</span>
                        <span>Jul. 28, 2020</span>
                        <a href="https://in.mashable.com/entertainment/15977/star-trek-discovery-adil-hussain-teases-guest-appearance-in-season-3-fans-are-loving-it" target="_blank"><img id="nlogo3" alt="mashable icon" class="logopic"></a>            
                    </div>
                </div>
            </section>
            <section id="info" data-nav="About">
                <h2 class="prettytext">~About Sentiment Analysis & Natural Language Processing~</h2>
                <h3>Sentiment Analysis</h3>
                <article>
                <p>
                    Sentiment Analysis uses Natural Language Processing (see below) to find 
                    the overall feeling in a block of text, such as a blog post, tweet,
                    yelp review,etc. It's commonly used to get feedback from customers or 
                    employees, to check product reviews, and to monitor brands' reputations.
                    Sentiment analysis is also known as opinion mining or
                    emotion AI. A basic example is to determine the overall polarity of a text, 
                    whether it is more positive or negative, or if it's neutral. 
                </p>
                <p>
                    While there are various methods to perform sentiment analysis, 
                    most of them involve breaking the text to be
                    analyzed into smaller chunks like sentences or phrases. These smaller chunks 
                    are then analyzed and scored consistently, so the overall text is just the 
                    scores of the smaller chunks combined. For example, if a text has 3 phrases, 
                    and 2 are positive, but 1 is negative, then the text will be positive overall.
                </p>
                <p>
                    Here's a more general example looking at whole sentences instead of the 
                    parts making up a sentence:
                    <ol>
                        <li> I really like their new album.</li>
                        <li> I'm not sure if I like their new album.</li>
                        <li> Their new album is terrible.</li>
                    </ol>
                    This example portrays a few aspects that sentiment analysis takes into account
                    when processing texts. Although sentences 1 & 2 have similar words, sentence 2 
                    uses <strong>negation</strong> with "not sure" whereas sentence 1 uses a 
                    <strong>simple statement </strong> "I like their new album" but with a 
                    <strong>modifier</strong> to exaggerate the positive feeling. Sentence 3 is also
                    a simple statement, but in the negative direction. Taking this into account, 
                    sentence 1 will be classified as positive, and sentence 3 will be negative.
                    On the other hand, sentence 2 would be classified as neutral since there's no
                    real positive or negative emotion in it.
                </p>
                </article>
                <h3>Natural Language Processing</h3>
                <article>
                    <p>
                        Natural Language Processing (NLP) is a field of machine learning that 
                        focuses on analyzing human speech, or processing natural (human) language. This 
                        app uses Sentiment Analysis, but that is just one example of NLP. 
                        Other examples of NLP include transcribing text or categorizing and 
                        labeling text or speech.  NLP typically achieves its goals by processing
                         its input, human language, with patterns and phrases. 
                         Once an NLP model is taught one rule (a pattern), it solidifies its 
                        learning as it goes through more and more examples that use that pattern.
                    </p>
                    <p>
                        Sentiment analysis uses NLP and text mining to sort through human 
                        language. Text mining is also known as text analysis, because it 
                        gathers data on language and then implements NLP to find and share 
                        meanings and insights from the data.  Text mining without NLP would 
                        require humans to look through all the data it collected, and using NLP 
                        removes the need for humans. Text mining and NLP work together to 
                        efficiently look through text. 
                    </p>
                </article>
                <h3>Meaningcloud <a href="https://www.meaningcloud.com" target="_blank">(Website)</a></h3>
                <article>

                    <p>
                        MeaningCloud is a Software as a Service product that specializes 
                        in text analysis. MeaningCloud offers various API's for developers 
                        to use. We used the API for sentiment analysis, but they also have 
                        API's for text classification, language identification, and 
                        summariziation (these are simply what they sound like, 
                        just so you know =] ) as well as many others.
                    </p>
                    <p>
                        <a href="https://www.meaningcloud.com/developer/sentiment-analysis" 
                        target="_blank">MeaningCloud's Sentiment Analysis API</a>
                        can be used on a chunk of 
                        text, like the news articles used for this app, and even on the 
                        individual sentences making up the text. The API accepts a string 
                        of text, a url, or a selected document or file with analysis-friendly 
                        contents as valid queries. However, this app only supports the use of 
                        url's.
                    </p>
                    <p>
                        In the API used for main function for this app, the developers 
                        included various measures in the results. The most basic is polarity, 
                        but the API also analyzes how ironic the text is, gives it a 
                        confidence score, determines if the sentiments agree overall, 
                        and if the text given is objective or  subjective.
                    </p>
                    Here are the analysis terms we use with their possible results: 
                    score_tag, agreement, subjectivity, irony, confidence

                    <ul>
                        <li>score: overall polarity (strong positive, positive, 
                            neutral, negative, strong negative, no sentiment)
                        </li>
                        <li>agreement: whether polarities in each sentence/segment 
                            agree in polarity (agreement/disagreement)
                        </li>
                        <li>subjectivity: whether overall text has any opinion or has 
                            fact only (subjective/objective)
                        </li>
                        <li>irony: whether text contains any irony (ironic/nonironic)
                        </li>
                        <li>confidence: level of confidence regarding analysis 
                            performed (0-100)
                        </li>
                    </ul>
                </article>
            </section>
        </main>
        <footer>
            done by julia h. for more check here: <a href="juliahershey.com" target="_blank">
            juliahershey.com</a> =) thank you!
        </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
