<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Sample Articles</title>
    </head>

    <body>

        <header>
            
            <img id="jhlogo" alt= "JH Logo">
            
            <div class="prettytext">
                JH NLP Web Tool
            </div>
            <section>
                <div>
                    <a href="index.html">Home</a> * 
                    <a href="about.html">About</a> * 
                    <a href="tests.html">Articles</a>
                </div>
            </section>
        </header>

        <main>
            <section>
               woooo
            <section>
            <section>
                yeet
            </section>
            
        </main>
    </body>
</html>
