$headercolor : #908d85;
$maincolor : #d2c3a7;   
$formcolor: #876a6c;
$textcolor: darkslategray;

header {
    display: block;
    width: 100%;
    // text-align: center;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: $headercolor;
}

#sticky{
    position: sticky;
    top: 0;
    width: 100%;
    background-color: $formcolor;
    border-bottom: 2px white solid;
}

#navbar__list {
    // width:100%;
    background-color: $formcolor;
    padding: 15px 0;
    margin: 10px;
    display: inline-block;
    /* width: 115px; */
    font-size: .8em;
}

.navbar__menu .menu__link {
    width:100%;
    font-size: 0.8em;
    justify-content: space-evenly;
    // border: white 3px solid;
    margin:20px 10px;
    padding: 1em;
    text-decoration: none;
    color: #000;
    background-color: #8ca8b0;
    border: 1px white solid;
}
@media (min-width: 425px){
    .navbar__menu .menu__link {
        display: inline;
        font-size: 1em;
    }
}

#jhlogo{
    height: 3em;
}
@media (min-width: 415px){
    header{
        display: flex;
    }
}